<div class="size-filter clearfix">
  <h3>Filter by available size:</h3>
  <nav class="size-options">
    <a href="#" class="size-filter-option js-current-filter">All</a>
    <a href="#" class="size-filter-option">S</a>
    <a href="#" class="size-filter-option">M</a>
    <a href="#" class="size-filter-option">L</a>
    <a href="#" class="size-filter-option">XL</a>
    <a href="#" class="size-filter-option">2XL</a>
    <a href="#" class="size-filter-option">3XL</a>
    <a href="#" class="size-filter-option">WS</a>
    <a href="#" class="size-filter-option">WM</a>
    <a href="#" class="size-filter-option">WL</a>
    <a href="#" class="size-filter-option">WXL</a>
  </nav>
</div>
